* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: hsl(0, 1%, 43%);
    font-family: Arial, sans-serif;
}

/* Calculator */
#calculator {
    background-color: rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    max-width: 360px; /* 👈 prevents overflow */
}

/* Display */
#display {
    width: 100%;
    padding: 15px;
    font-size: 2.5rem;
    text-align: left;
    border: none;
    background-color: rgb(101, 98, 98);
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Grid */
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Buttons */
button {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: rgba(70, 65, 65, 0.364);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 3%, 67%);
}

/* Operators */
.operator-btn {
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(249, 173, 33);
}
.operator-btn:active{
    background-color: rgb(230, 194, 128);
}


/* C button (bottom full width) */
.clear-btn {
    grid-column: span 4;
    border-radius: 40px;
    aspect-ratio: 4 / 1;
}
